.header-h1 {
    font-family:sans-serif;
    color: black;
    font-size: 20px
}
.table-header {
    border-bottom-color : lightgray;
    border-bottom-style : solid;
    border-bottom-width : 2px;
    flex-grow: 1
}
.main-header-h1 {
    font-family: sans-serif;
    color: black;
    font-size: 22px;
}

.sub-header-h1 {
    font-family: sans-serif;
    color: black;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 5px;
    margin-right: 45px;
}

.input-dropdown {
    font-weight: normal;
    width: 50px
}

.div-style{
    margin:10px
}